body {
    font-family: roboto, sans-serif;
    margin:0;
    padding:0;
}



.header,
.hero,
.cards,
.testimonial,
.actionCall,
.footer {
padding: 16px 200px;
}

.header {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px 200px; */

}


.header-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #f9faf8;
}

.hero {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px 200px;   */
}

.hero-left {
    flex: 1;
}

.hero-image {
    flex: 1;
    background-color: cornflowerblue;
    width: 400px;
    height: 200px;
}



.information {
    text-align: center;
}

.cards {
    display: flex;
    text-align: center;
    gap: 64px;
}

.card {
    max-width: 200px;
    text-align: center;
}


.testimonial {
    background-color: #e5e7eb;
}

.testimonial p {
    font-style: italic;
}

.testimonial figcaption {
    font-weight: bold;
}


.actionCall {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
}

/* .action-text */